*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}


.heading{
    color: blue;
}

.heading-size{
    font-size: 72px;
}

.text-purple{
    color: purple;
}

.bg-purple{
    background-color: purple;
}